/**
 * 多图上传CSS样式文件
 */
.uploader-list {
	margin: -8px 0 -8px -8px;
}

.uploader-list .handle {
	position: relative;
	background-color: black;
	color: white;
	filter: alpha(Opacity=80);
	-moz-opacity: 0.5;
	opacity: 0.5;
	width: 100px;
	text-align: center;
	height: 18px;
	margin-bottom: -18px;
}

.uploader-list .handle span:hover {
	cursor: pointer;
}

.uploader-list .file-iteme {
	margin: 0 0 0 6px;
	padding: 1px;
	float: left;
}